<p id="notice"><%= notice %></p>

<h1>Statistics</h1>

<% data = @statistics.group_by(&:protocol_type).map{ |statistic| {
		name: statistic[0]["protocolName"],
		data: statistic[1].map{
			|x| [x.created_at, x.value]
		}
	}
}
%>

<!--  line_chart data, library: {pointSize: 2} , explorer:{ axis:'vertical', actions:['dragToZoom']}, height:"800px"%>
-->
<table class="table">
  <thead>
    <tr>
      <th>Protocol</th>
      <th>Records</th>
      <th>Min</th>
      <th>Max</th>
      <th>Median</th>
      <th>Standard Deviation</th>
    </tr>
  </thead>

  <tbody>
    <% data.each do |actual_data| %>
	<% values = actual_data[:data].map{|x| x[1]} %>
      <tr>
        <td><%= actual_data[:name]  %></td>
        <td><%= values.count %></td>
	<td><%= values.min %></td>
	<td><%= values.max %></td>
	<td><%= DescriptiveStatistics.mean(values)  %></td>
        <td><%= DescriptiveStatistics.standard_deviation(values) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

