<%= form_for(protocol_type) do |f| %>
  <% if protocol_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(protocol_type.errors.count, "error") %> prohibited this protocol_type from being saved:</h2>

      <ul>
      <% protocol_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :protocolName %>
    <%= f.text_field :protocolName %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
